body {
    font-family: 'Candara', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #d9d99b;
    color: #fff;
    text-align: center;
    padding: 35px ;
}

#logo {
    
    position: absolute;
    top: 10px;
    left: 5px;
    width: 250px;
    height:max-content;
}

h1 {
    margin: 0;
}

section {
    margin: 20px;
}

#patient-form, #liste-patients {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: #87cdcd;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#patients-list {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#supprimer, #modifier {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #dc35467d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#modifier {
    background-color: #87cdcd;
}
