/* Reset some default styles */
body {
    font-family: 'Candara', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styling */
header {
    background-color: #AEDCEC;
    color: #696969;
    text-align: center;
    padding: 20px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    margin: 5px 0;
    font-weight: 700;
}

#logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

/* Main Sections Styling */
#main-section {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.column {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.column h2 {
    color: #3498db;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
    #main-section {
        flex-direction: column;
    }

    .column {
        margin-bottom: 20px;
    }
}

section {
    margin: 20px;
}

#patient-form, #liste-patients {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
#patient-form {
    background-image: url('/assets/logo-gris-png.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000000; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; 
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
}

button:hover {
    background-color: #2980b9;
}

/* List Styling */
#patients-list {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #ecf0f1;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

li:hover {
    transform: scale(1.02);
}

/* Footer Styling */
footer {
    background-color: #AEDCEC;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 10px;
}
/* Additional styling for the doctor-info section */
#doctor-info {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.column {
    flex: 1;
    padding: 20px;
    background-color: #8bc9dd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.column h2 {
    color: #ffffff;
}
.column p {
    color:#5a5959;
}

/* Responsive styling for the columns on smaller screens */
@media (max-width: 768px) {
    #doctor-info {
        flex-direction: column;
    }

    .column {
        margin-bottom: 20px;
    }
}
